html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background: #007765;
    width: 100%;
    display: grid;
    grid: 84px / 60% auto;
    top: 0;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    place-self: center;
}

.logo + div {
    grid-row: 1;
    grid-column: 2;
    place-self: center left;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}
container {
    display: grid;
    grid: 403px 719px 483px 604px 845px/ 100%;
    background: green;
}

#pipernet {
    grid-row: 1;
    grid-column: 1;
    background-image: url(img/image.png);
    display: flex;
    justify-content: center;
}

#pipernet > p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    align-self: center;
    cursor: default;
}

.p-f-l {
    font-size: 64px;
    color:  #007765;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    align-self: center;
    padding-top: 2%;
}

.p-s-l {
    font-size: 24px;
    color:  #007765;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    align-self: center;
    padding-top: 2%;
}

.whitewall {
    background: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.inside-block {
    align-self: center;
    margin: 0;
}
ul {
    list-style-type: none;
}
.p-text {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

img[alt="Hero1"] {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}
div.inside-block.flex {
    margin-top: 2vh;
}
img[alt="PPC Logo"] {
    width: 115px;
    height: 115px;;
}

img[alt="PPC Logo"] + p {
    padding-left: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 1rem;
}

wrapper {
    background: #eeeeee;
    text-align: center;
}

h4 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

section.flex {
    padding-left: 20vw;
    padding-right: 20vw;
    flex-flow: row wrap;
    justify-content: space-between;
}

wrapper > section > div {
    flex-basis: 33%;
    margin-top: 4rem;
}

footer {
    background: #333333;
    width: 100%;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 18px;
    color:  #fff;
    font-family: 'Roboto', sans-serif;
}