html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  top: 0;

  width: 100%;
  display: grid;
  grid: 84px / 60% auto;

  background: #007765;
}

.logo {
  grid-row: 1;
  grid-column: 1;

  place-self: center;
}

.logo + div {
  grid-row: 1;
  grid-column: 2;
  place-self: center left;

  font-size: 24px;
  font-family: 'Roboto', "Arial", sans-serif;

  color: #ffffff;
}

a {
  text-decoration: none;
  
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}
container {
  display: grid;
  grid: 403px 719px 483px 604px 845px/ 100%;

  background: green;
}

#piper-net {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;

  background-image: url(img/image.png);
}

#piper-net > p {
  align-self: center;

  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 5rem;
  cursor: default;

  color: #fff;
}

.p-f-l {
  align-self: center;
  margin: 0px;
  padding-top: 2%;

  font-size: 64px;
  font-family: 'Roboto', "Arial", sans-serif;

  color:  #007765;
}

.p-s-l {
  align-self: center;
  margin: 0px;
  padding-top: 2%;

  font-size: 24px;
  font-family: 'Roboto', "Arial", sans-serif;
  
  color:  #007765;
}

.white-wall {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  background: #ffffff;
}

.inside-block {
  align-self: center;
  margin: 0;
}

.p-text {
  font-size: 32px;
  font-family: 'Roboto', "Arial", sans-serif;
}

img[alt="Hero1"] {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}
div.inside-block.flex {
  margin-top: 2vh;
}
img[alt="PPC Logo"] {
  width: 115px;
  height: 115px;;
}

img[alt="PPC Logo"] + p {
  padding-left: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 1rem;
}

wrapper {
  text-align: center;

  background: #eeeeee;
}

h4 {
  margin: 0;

  font-family: 'Roboto', "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
}

section.flex {
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 20vw;
  padding-right: 20vw;
}

wrapper > section > div {
  flex-basis: 33%;
  margin-top: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 176px;

  background: #333333;
}

footer > p {
  font-size: 18px;
  font-family: 'Roboto', "Arial", sans-serif;

  color: #ffffff;
}